name: Build
on:
  pull_request:
    paths-ignore:
      - "**.md"
  push:
    paths-ignore:
      - "**.md"
  schedule:
    - cron: "0 0 * * *" # daily at midnight

jobs:
  plugin_test:
    name: asdf plugin test
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        include:
          - os: ubuntu-latest
            scheme: scheme
          - os: macos-latest
            scheme: chez

    runs-on: ${{ matrix.os }}
    steps:
      - name: Install chezscheme dependencies on macOS
        if: matrix.os == 'macos-latest'
        run: |
          brew install chezscheme
          brew install coreutils

      - name: Install chezscheme dependencies on Ubuntu
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y chezscheme

      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@v1.1.0
        with:
          command: idris2 --help
        env:
          GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SCHEME: ${{ matrix.scheme }}
